In [ ]:
!pip install kiteconnect

Collecting kiteconnect
  Downloading kiteconnect-4.2.0-py3-none-any.whl (24 kB)
Collecting service-identity>=18.1.0 (from kiteconnect)
  Downloading service_identity-23.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.10/dist-packages (from kiteconnect) (2.27.1)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from kiteconnect) (1.16.0)
Collecting pyOpenSSL>=17.5.0 (from kiteconnect)
  Downloading pyOpenSSL-23.2.0-py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.0/59.0 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.10/dist-packages (from kiteconnect) (2.8.2)
Collecting autobahn[twisted]==19.11.2 (from kiteconnect)
  Downloading autobahn-19.11.2-py2.py3-none-any.whl (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 771.5/771.5 kB 24.6 MB/s eta 0:00:00
Collecting txaio>=18.8.1 (from autobahn[twisted]==19.11.2->kiteconnect)
  Downloading txaio-23.1.1-py2.py3-none-any.whl (30 kB)
Collecting cryptography>=2.7 (from autobahn[twisted]==19.11.2->kiteconnect)
  Downloading cryptography-41.0.1-cp37-abi3-manylinux_2_28_x86_64.whl (4.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.3/4.3 MB 85.5 MB/s eta 0:00:00
Collecting zope.interface>=3.6.0 (from autobahn[twisted]==19.11.2->kiteconnect)
  Downloading zope.interface-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 24.7 MB/s eta 0:00:00
Collecting Twisted>=12.1.0 (from autobahn[twisted]==19.11.2->kiteconnect)
  Downloading Twisted-22.10.0-py3-none-any.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 72.4 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->kiteconnect) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->kiteconnect) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->kiteconnect) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->kiteconnect) (3.4)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.10/dist-packages (from service-identity>=18.1.0->kiteconnect) (23.1.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.10/dist-packages (from service-identity>=18.1.0->kiteconnect) (0.5.0)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.10/dist-packages (from service-identity>=18.1.0->kiteconnect) (0.3.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=2.7->autobahn[twisted]==19.11.2->kiteconnect) (1.15.1)
Collecting constantly>=15.1 (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->kiteconnect)
  Downloading constantly-15.1.0-py2.py3-none-any.whl (7.9 kB)
Collecting incremental>=21.3.0 (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->kiteconnect)
  Downloading incremental-22.10.0-py2.py3-none-any.whl (16 kB)
Collecting Automat>=0.8.0 (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->kiteconnect)
  Downloading Automat-22.10.0-py2.py3-none-any.whl (26 kB)
Collecting hyperlink>=17.1.1 (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->kiteconnect)
  Downloading hyperlink-21.0.0-py2.py3-none-any.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.6/74.6 kB 8.5 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.10/dist-packages (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->kiteconnect) (4.6.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from zope.interface>=3.6.0->autobahn[twisted]==19.11.2->kiteconnect) (67.7.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=2.7->autobahn[twisted]==19.11.2->kiteconnect) (2.21)
Installing collected packages: incremental, constantly, zope.interface, txaio, hyperlink, Automat, Twisted, cryptography, service-identity, pyOpenSSL, autobahn, kiteconnect
Successfully installed Automat-22.10.0 Twisted-22.10.0 autobahn-19.11.2 constantly-15.1.0 cryptography-41.0.1 hyperlink-21.0.0 incremental-22.10.0 kiteconnect-4.2.0 pyOpenSSL-23.2.0 service-identity-23.1.0 txaio-23.1.1 zope.interface-6.0

In [ ]:
from kiteconnect import KiteConnect

# logging.basicConfig(level=logging.DEBUG)
print('here')
kite = KiteConnect(api_key="aygbpvrrcsaybucb")

# Step 1 - Open the below URL and login and collect the request token
# https://kite.zerodha.com/connect/login?v=4&api_key=aygbpvrrcsaybucb
# Step 2 - Run this program and provide the request token
# Step 3 - You would get access token
# Step 4 - Update the access token in KiteSettings.py

# request_token = input("Request Token: ")
# data = kite.generate_session(request_token, api_secret="ant7m5o74v4x0sptg18gx18kzbkl6i5x")
kite.set_access_token("0ktv2vzfBlzqukwQ9M6EqcJx4zZEs5xe")

# print("====================")
# print("Access Token: ",data["access_token"])

here

In [ ]:
import pandas as pd
nse = kite.instruments('NSE')
nse_data = pd.DataFrame(nse)
nse_data

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
0,264713,1034,HANGSENG BEES-NAV,HANGSENG BEES-NAV,0.0,,0.0,0.00,0,EQ,INDICES,NSE
1,264969,1035,INDIA VIX,INDIA VIX,0.0,,0.0,0.00,0,EQ,INDICES,NSE
2,260617,1018,NIFTY 100,NIFTY 100,0.0,,0.0,0.00,0,EQ,INDICES,NSE
3,264457,1033,NIFTY 200,NIFTY 200,0.0,,0.0,0.00,0,EQ,INDICES,NSE
4,256265,1001,NIFTY 50,NIFTY 50,0.0,,0.0,0.00,0,EQ,INDICES,NSE
...,...,...,...,...,...,...,...,...,...,...,...,...
5509,2916865,11394,ZOTA,ZOTA HEALTH CARE,0.0,,0.0,0.05,1,EQ,NSE,NSE
5510,7436801,29050,ZUARI,ZUARI AGRO CHEMICALS,0.0,,0.0,0.05,1,EQ,NSE,NSE
5511,979713,3827,ZUARIIND,ZUARI INDUSTRIES,0.0,,0.0,0.05,1,EQ,NSE,NSE
5512,2029825,7929,ZYDUSLIFE,ZYDUS LIFESCIENCES,0.0,,0.0,0.05,1,EQ,NSE,NSE
5513,4514561,17635,ZYDUSWELL,ZYDUS WELLNESS,0.0,,0.0,0.05,1,EQ,NSE,NSE

In [ ]:
def calculate_transaction_charge_buy(quantity, price):
    total_transaction_charge = 0
    total_amount = quantity * price
    brokerage = min(20, 0.0003 * total_amount)
    transaction_charge = 0.0000325 * total_amount
    sebi_charges = 0.000001 * total_amount
    stamp_duty = 0.00003*total_amount
    gst = 0.18 * (brokerage + sebi_charges + transaction_charge)
    total_transaction_charge += brokerage + stamp_duty + transaction_charge + gst + sebi_charges
    return total_transaction_charge

def calculate_transaction_charge_sell(quantity, price):
    total_transaction_charge = 0
    total_amount = quantity * price
    brokerage = min(20, 0.0003 * total_amount)
    stt = 0.00025 * (total_amount)
    transaction_charge = 0.0000325 * total_amount
    sebi_charges = 0.000001 * total_amount
    gst = 0.18 * (brokerage + sebi_charges + transaction_charge)
    total_transaction_charge += brokerage + stt + transaction_charge + gst + sebi_charges
    return total_transaction_charge

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
import warnings

In [ ]:
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
def final_backtest(IA_buy, IA_sell, profit_margin,stop_loss, stock_data_file):

    result_df = pd.DataFrame(columns=['Date','Buy_stocks','Sell_stocks' , 'Status_L1', 'TP_L1', 'SL_L1', 'Status_L2', 'TP_L2', 'SL_L2', 'Status_L3', 'TP_L3', 'SL_L3', 'Status_S1', 'TP_S1', 'SL_S1', 'Status_S2', 'TP_S2', 'SL_S2', 'Status_S3', 'TP_S3', 'SL_S3', 'IA_buy','IA_sell','buy_profit','sell_profit','Transaction_Charges','Profit_after_Transaction'])

    # Read stock data from CSV file
    stock_data = pd.read_csv(stock_data_file)
    profit_margin=profit_margin/5
    stop_loss=stop_loss/5
    # # Add ".NS" to stock names
    stock_data['Buy'] = stock_data['Buy'].apply(lambda x: [stock + '' for stock in eval(x)])
    stock_data['Sell'] = stock_data['Sell'].apply(lambda x: [stock + '' for stock in eval(x)])

    # Iterate over each date
    for i in range(len(stock_data)):
        n=3
        date = pd.to_datetime(stock_data.loc[i, 'Date'], dayfirst=True)
        buy_amount=IA_buy
        sell_amount=IA_sell
        buy_amount_per_stock=buy_amount/3
        sell_amount_per_stock=sell_amount/3
        buy_list = stock_data.loc[i, 'Buy']
        sell_list = stock_data.loc[i, 'Sell']

        tp = profit_margin
        ls = stop_loss
        status_long=[]
        status_short=[]
        TP_long =[]
        TP_short=[]
        SL_long =[]
        SL_short=[]
        buy_profit=0
        sell_profit=0
        total_transaction=0
        # print(buy_list)
        for stock in buy_list:
            # print(stock)
            token = nse_data[nse_data.tradingsymbol == stock].instrument_token.values[0]
            #print(date)
            df = kite.historical_data(token, str(date)[:10] + " 09:15:00", str(date)[:10] + " 15:14:00", "minute", False, False)
            df = pd.DataFrame(df)
            if(df.size == 0):
                continue
            traded_close = df['open'][0]
            tp_key=0
            sl_key=0
            status_key=-2 #Initial Stage
            total_transaction+=calculate_transaction_charge_buy(((buy_amount_per_stock*5)/traded_close),traded_close)
            for j in range(len(df)):
                if(j<60):
                  ls=0.02
                else:
                  ls=0.003
                if((df.loc[j, 'high']-traded_close)/traded_close >= tp and tp_key==0):
                    if(status_key==-2):
                        ltp=df.loc[j,'high']
                        status_long.append(1)
                        status_key=1
                        total_transaction+=calculate_transaction_charge_sell(((buy_amount_per_stock*5)/traded_close),ltp)
                        buy_profit+=tp*buy_amount_per_stock*5
                        # buy_profit+=(ltp-traded_close)*((buy_amount_per_stock*5)/traded_close)
                    TP_long.append(df.loc[j, 'date'])
                    tp_key=1
                if((traded_close-df.loc[j, 'low'])/traded_close >=ls and sl_key==0):
                    if(status_key==-2):
                        ltp=df.loc[j,'low']
                        status_long.append(0)
                        status_key=0
                        total_transaction+=calculate_transaction_charge_sell(((buy_amount_per_stock*5)/traded_close),ltp)
                        # buy_profit-=ls*buy_amount_per_stock*5
                        buy_profit-=(traded_close-ltp)*((buy_amount_per_stock*5)/traded_close)
                    SL_long.append(df.loc[j, 'date'])
                    sl_key=1
            if(tp_key==0 and sl_key==0):
                status_long.append(-1)
                total_transaction+=calculate_transaction_charge_sell(((buy_amount_per_stock*5)/traded_close),traded_close)
                ltp = df.loc[-1,'close']
                buy_profit+=(ltp-traded_close)*((buy_amount_per_stock*5)/traded_close)
                TP_long.append(-1)
                SL_long.append(-1)
            elif(tp_key==0):
                TP_long.append(-1)
            elif(sl_key==0):
                SL_long.append(-1)

        for stock in sell_list:
            token = nse_data[nse_data.tradingsymbol == stock].instrument_token.values[0]
            df = kite.historical_data(token, str(date)[:10] + " 09:15:00", str(date)[:10] + " 15:14:00", "minute", False, False)
            df = pd.DataFrame(df)
            if(df.size == 0):
                continue
            traded_close = df['open'][0]
            tp_key=0
            sl_key=0
            status_key=-2 #Initial Stage
            total_transaction+=calculate_transaction_charge_sell(((sell_amount_per_stock*5)/traded_close),traded_close)
            for j in range(len(df)):
                if(j<60):
                  ls=0.02
                else:
                  ls=0.003
                if((traded_close-df.loc[j, 'low'])/traded_close >= tp and tp_key==0):
                    if(status_key==-2):
                        ltp=df.loc[j,'low']
                        status_short.append(1)
                        status_key=1
                        total_transaction+=calculate_transaction_charge_buy(((sell_amount_per_stock*5)/traded_close),ltp)
                        # sell_profit+=(traded_close-ltp)*((sell_amount_per_stock*5)/traded_close)
                        sell_profit+=tp*sell_amount_per_stock*5
                    TP_short.append(df.loc[j, 'date'])
                    tp_key=1
                if((df.loc[j, 'high']-traded_close)/traded_close >=ls and sl_key==0):
                    if(status_key==-2):
                        ltp=df.loc[j,'high']
                        status_short.append(0)
                        status_key=0
                        total_transaction+=calculate_transaction_charge_buy(((sell_amount_per_stock*5)/traded_close),ltp)
                        # sell_profit-=ls*sell_amount_per_stock*5
                        sell_profit-=(ltp-traded_close)*((sell_amount_per_stock*5)/traded_close)
                    SL_short.append(df.loc[j, 'date'])
                    sl_key=1
            if(tp_key==0 and sl_key==0):
                status_short.append(-1)
                total_transaction+=calculate_transaction_charge_buy(((sell_amount_per_stock*5)/traded_close),traded_close)
                ltp = df.loc[-1,'close']
                sell_profit+=(traded_close-ltp)*((sell_amount_per_stock*5)/traded_close)
                TP_short.append(-1)
                SL_short.append(-1)
            elif(tp_key==0):
                TP_short.append(-1)
            elif(sl_key==0):
                SL_short.append(-1)
        #print("YESS")
        status_long_df = pd.DataFrame(status_long)
        if(status_long_df.size == 0):
            continue
        total_profit=buy_profit+sell_profit
        Pro_after_Transaction=total_profit-total_transaction
        IA_buy+=Pro_after_Transaction/2
        IA_sell+=Pro_after_Transaction/2
        result_df = result_df.append({'Date': date,'Buy_stocks': buy_list, 'Sell_stocks': sell_list,
                                      'Status_L1': status_long[0], 'TP_L1':TP_long[0], 'SL_L1':SL_long[0],
                                      'Status_L2': status_long[1], 'TP_L2':TP_long[1], 'SL_L2':SL_long[1],
                                      'Status_L3': status_long[2], 'TP_L3':TP_long[2], 'SL_L3':SL_long[2],
                                      'Status_S1': status_short[0], 'TP_S1':TP_short[0], 'SL_S1':SL_short[0],
                                      'Status_S2': status_short[1], 'TP_S2':TP_short[1], 'SL_S2':SL_short[1],
                                      'Status_S3': status_short[2], 'TP_S3':TP_short[2], 'SL_S3':SL_short[2],
                                      'IA_buy':buy_amount, 'IA_sell': sell_amount, 'buy_profit': buy_profit, 'sell_profit': sell_profit, 'Transaction_Charges':total_transaction, 'Profit_after_Transaction': Pro_after_Transaction},  ignore_index=True)
        print(date)

    return result_df

In [ ]:
stock_data_file = '/content/nifty200_stock_recommendation.csv'

result = final_backtest(60000,60000,0.01313,0.015,stock_data_file)

result

2022-07-01 00:00:00
2022-07-04 00:00:00
2022-07-05 00:00:00
2022-07-06 00:00:00
2022-07-07 00:00:00
2022-07-08 00:00:00
2022-07-11 00:00:00
2022-07-12 00:00:00
2022-07-13 00:00:00
2022-07-14 00:00:00
2022-07-15 00:00:00
2022-07-18 00:00:00
2022-07-19 00:00:00
2022-07-20 00:00:00
2022-07-21 00:00:00
2022-07-22 00:00:00
2022-07-25 00:00:00
2022-07-26 00:00:00
2022-07-27 00:00:00
2022-07-28 00:00:00
2022-07-29 00:00:00
2022-08-01 00:00:00
2022-08-02 00:00:00
2022-08-03 00:00:00
2022-08-04 00:00:00
2022-08-05 00:00:00
2022-08-08 00:00:00
2022-08-10 00:00:00
2022-08-11 00:00:00
2022-08-12 00:00:00
2022-08-16 00:00:00
2022-08-17 00:00:00
2022-08-18 00:00:00
2022-08-19 00:00:00
2022-08-22 00:00:00
2022-08-23 00:00:00
2022-08-24 00:00:00
2022-08-25 00:00:00
2022-08-26 00:00:00
2022-08-29 00:00:00
2022-08-30 00:00:00
2022-09-01 00:00:00
2022-09-02 00:00:00
2022-09-05 00:00:00
2022-09-06 00:00:00
2022-09-07 00:00:00
2022-09-08 00:00:00
2022-09-09 00:00:00
2022-09-12 00:00:00
2022-09-13 00:00:00
2022-09-14 00:00:00
2022-09-15 00:00:00
2022-09-16 00:00:00
2022-09-19 00:00:00
2022-09-20 00:00:00
2022-09-21 00:00:00
2022-09-22 00:00:00
2022-09-23 00:00:00
2022-09-26 00:00:00
2022-09-27 00:00:00
2022-09-28 00:00:00
2022-09-29 00:00:00
2022-09-30 00:00:00
2022-10-03 00:00:00
2022-10-04 00:00:00
2022-10-06 00:00:00
2022-10-07 00:00:00
2022-10-10 00:00:00
2022-10-11 00:00:00
2022-10-12 00:00:00
2022-10-13 00:00:00
2022-10-14 00:00:00
2022-10-17 00:00:00
2022-10-18 00:00:00
2022-10-19 00:00:00
2022-10-20 00:00:00
2022-10-21 00:00:00
2022-10-25 00:00:00
2022-10-27 00:00:00
2022-10-28 00:00:00
2022-10-31 00:00:00
2022-11-01 00:00:00
2022-11-02 00:00:00
2022-11-03 00:00:00
2022-11-04 00:00:00
2022-11-07 00:00:00
2022-11-09 00:00:00
2022-11-10 00:00:00
2022-11-11 00:00:00
2022-11-14 00:00:00
2022-11-15 00:00:00
2022-11-16 00:00:00
2022-11-17 00:00:00
2022-11-18 00:00:00
2022-11-21 00:00:00
2022-11-22 00:00:00
2022-11-23 00:00:00
2022-11-24 00:00:00
2022-11-25 00:00:00
2022-11-28 00:00:00
2022-11-29 00:00:00
2022-11-30 00:00:00
2022-12-01 00:00:00
2022-12-02 00:00:00
2022-12-05 00:00:00
2022-12-06 00:00:00
2022-12-07 00:00:00
2022-12-08 00:00:00
2022-12-09 00:00:00
2022-12-12 00:00:00
2022-12-13 00:00:00
2022-12-14 00:00:00
2022-12-15 00:00:00
2022-12-16 00:00:00
2022-12-19 00:00:00
2022-12-20 00:00:00
2022-12-21 00:00:00
2022-12-22 00:00:00
2022-12-23 00:00:00
2022-12-26 00:00:00
2022-12-27 00:00:00
2022-12-28 00:00:00
2022-12-29 00:00:00
2022-12-30 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-27 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00
2023-02-13 00:00:00
2023-02-14 00:00:00
2023-02-15 00:00:00
2023-02-16 00:00:00
2023-02-17 00:00:00
2023-02-20 00:00:00
2023-02-21 00:00:00
2023-02-22 00:00:00
2023-02-23 00:00:00
2023-02-24 00:00:00
2023-02-27 00:00:00
2023-02-28 00:00:00
2023-03-01 00:00:00
2023-03-02 00:00:00
2023-03-03 00:00:00
2023-03-06 00:00:00
2023-03-08 00:00:00
2023-03-09 00:00:00
2023-03-10 00:00:00
2023-03-13 00:00:00
2023-03-14 00:00:00
2023-03-15 00:00:00
2023-03-16 00:00:00
2023-03-17 00:00:00
2023-03-20 00:00:00
2023-03-21 00:00:00
2023-03-22 00:00:00
2023-03-23 00:00:00
2023-03-24 00:00:00
2023-03-27 00:00:00
2023-03-28 00:00:00
2023-03-29 00:00:00
2023-03-31 00:00:00
2023-04-03 00:00:00
2023-04-05 00:00:00
2023-04-06 00:00:00
2023-04-10 00:00:00
2023-04-11 00:00:00
2023-04-12 00:00:00
2023-04-13 00:00:00
2023-04-17 00:00:00
2023-04-18 00:00:00
2023-04-19 00:00:00
2023-04-20 00:00:00
2023-04-21 00:00:00
2023-04-24 00:00:00
2023-04-25 00:00:00
2023-04-26 00:00:00
2023-04-27 00:00:00
2023-04-28 00:00:00
2023-05-02 00:00:00
2023-05-03 00:00:00
2023-05-04 00:00:00
2023-05-05 00:00:00
2023-05-08 00:00:00
2023-05-09 00:00:00
2023-05-10 00:00:00
2023-05-11 00:00:00
2023-05-12 00:00:00
2023-05-15 00:00:00
2023-05-16 00:00:00
2023-05-17 00:00:00
2023-05-18 00:00:00
2023-05-19 00:00:00
2023-05-22 00:00:00
2023-05-23 00:00:00
2023-05-24 00:00:00
2023-05-25 00:00:00
2023-05-26 00:00:00
2023-05-29 00:00:00
2023-05-30 00:00:00
2023-05-31 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-06-05 00:00:00
2023-06-06 00:00:00
2023-06-07 00:00:00
2023-06-08 00:00:00
2023-06-09 00:00:00
2023-06-12 00:00:00
2023-06-13 00:00:00
2023-06-14 00:00:00
2023-06-15 00:00:00
2023-06-16 00:00:00
2023-06-19 00:00:00
2023-06-20 00:00:00
2023-06-21 00:00:00
2023-06-22 00:00:00
2023-06-23 00:00:00
2023-06-26 00:00:00
2023-06-27 00:00:00
2023-06-28 00:00:00
2023-06-30 00:00:00

,Date,Buy_stocks,Sell_stocks,Status_L1,TP_L1,SL_L1,Status_L2,TP_L2,SL_L2,Status_L3,...,SL_S2,Status_S3,TP_S3,SL_S3,IA_buy,IA_sell,buy_profit,sell_profit,Transaction_Charges,Profit_after_Transaction
0,2022-07-01,"[BANKBARODA, M&MFIN, CONCOR]","[IDFCFIRSTB, DMART, DLF]",0,-1,2022-07-01 10:15:00+05:30,0,2022-07-01 13:03:00+05:30,2022-07-01 09:20:00+05:30,0,...,-1,1,2022-07-01 09:16:00+05:30,2022-07-01 10:15:00+05:30,60000,60000,-5767.948220,787.800000,496.777030,-5476.925250
1,2022-07-04,"[M&MFIN, BANKBARODA, CONCOR]","[IDFCFIRSTB, DMART, LTTS]",1,2022-07-04 09:15:00+05:30,-1,1,2022-07-04 09:15:00+05:30,-1,1,...,-1,1,2022-07-04 09:17:00+05:30,-1,57261.537375,57261.537375,751.843986,-1687.667365,489.636611,-1425.459990
2,2022-07-05,"[BANKBARODA, M&MFIN, NYKAA]","[IDFCFIRSTB, DMART, LTTS]",1,2022-07-05 09:15:00+05:30,-1,1,2022-07-05 09:15:00+05:30,-1,1,...,2022-07-05 10:15:00+05:30,1,2022-07-05 09:15:00+05:30,2022-07-05 10:15:00+05:30,56548.80738,56548.80738,742.485841,-655.555625,486.865602,-399.935386
3,2022-07-06,"[BANKBARODA, M&MFIN, CONCOR]","[IDFCFIRSTB, LTTS, ZOMATO]",1,2022-07-06 09:15:00+05:30,-1,1,2022-07-06 09:15:00+05:30,-1,1,...,2022-07-06 10:15:00+05:30,1,2022-07-06 09:15:00+05:30,-1,56348.839687,56348.839687,739.860265,739.860265,485.874877,993.845653
4,2022-07-07,"[M&MFIN, BANKBARODA, CONCOR]","[IDFCFIRSTB, ZOMATO, LTTS]",0,-1,2022-07-07 09:28:00+05:30,1,2022-07-07 09:15:00+05:30,-1,1,...,2022-07-07 10:23:00+05:30,1,2022-07-07 09:15:00+05:30,-1,56845.762513,56845.762513,-1532.969652,746.384862,487.017335,-1273.602125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2023-06-23,"[DIXON, JSWENERGY, OBEROIRLTY]","[ADANIENT, NYKAA, PERSISTENT]",1,2023-06-23 09:15:00+05:30,2023-06-23 09:31:00+05:30,0,-1,2023-06-23 09:22:00+05:30,1,...,-1,1,2023-06-23 09:15:00+05:30,-1,10797.967139,10797.967139,-295.276252,141.777309,114.811169,-268.310112
242,2023-06-26,"[DIXON, OBEROIRLTY, METROPOLIS]","[ADANIENT, PERSISTENT, NYKAA]",1,2023-06-26 09:16:00+05:30,-1,1,2023-06-26 09:15:00+05:30,2023-06-26 10:15:00+05:30,1,...,2023-06-26 10:33:00+05:30,1,2023-06-26 09:15:00+05:30,2023-06-26 10:24:00+05:30,10663.812083,10663.812083,140.015853,140.015853,113.751022,166.280683
243,2023-06-27,"[DIXON, OBEROIRLTY, METROPOLIS]","[ADANIENT, NYKAA, BANDHANBNK]",1,2023-06-27 09:15:00+05:30,2023-06-27 09:47:00+05:30,1,2023-06-27 09:15:00+05:30,2023-06-27 12:30:00+05:30,1,...,2023-06-27 12:06:00+05:30,0,2023-06-27 14:36:00+05:30,2023-06-27 10:15:00+05:30,10746.952425,10746.952425,141.107485,-64.171227,114.876218,-37.939959
244,2023-06-28,"[DIXON, METROPOLIS, POLICYBZR]","[ADANIENT, NYKAA, BANDHANBNK]",0,-1,2023-06-28 10:15:00+05:30,0,-1,2023-06-28 09:33:00+05:30,0,...,-1,1,2023-06-28 09:15:00+05:30,-1,10727.982445,10727.982445,-849.465243,-283.517254,113.996073,-1246.978570
245,2023-06-30,"[DIXON, JSWENERGY, PFC]","[ADANIENT, NYKAA, BANDHANBNK]",1,2023-06-30 09:15:00+05:30,2023-06-30 13:59:00+05:30,1,2023-06-30 09:33:00+05:30,-1,0,...,2023-06-30 09:26:00+05:30,1,2023-06-30 09:15:00+05:30,2023-06-30 10:15:00+05:30,10104.49316,10104.49316,-248.368442,-248.368442,107.754045,-604.490929

In [ ]:
result.to_csv('/content/nifty200_v4.csv', index=False)